<!DOCTYPE html>
<html>
  <head>
    <title>InstaGurizada</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Le styles -->
 <link href="css/bootstrap.css" rel="stylesheet">
 <link href="css/bootstrap-responsive.css" rel="stylesheet">
 <link href="css/main.less" rel="stylesheet/less">

</head>


<body id="main_body" >  
  <div class="container-fluid default-container">
    <div class="row-fluid"><div id="server_msg"></div></div>
    <div class="row-fluid">

          <div class="span12" id="content-handler">
          
        <!-- wraper for content flow -->  
       <form id="upload-form" class="form" action="/dropbox" method="POST" enctype="multipart/form-data" autocomplete="off">
          <label for="title"><b>Título da Foto</b></label>
			    <input id="title" type="text" name="title" class="input-block-level" required /><br>  

          <label for="url"><b>Fotos</b></label>
          <!-- <input  id="url" type="file" name="url" class="input-block-level" required multiple /><br> -->
          <div id="dropbox"></div>  

          <label for="passowrd"><b>Senha</b></label>
          <input type="password" name="password" class="input-block-level" id="password" required /><br>
			   <input type="submit" class="btn btn-primary btn-large" value="Salvar">
		  </form>
      </div><!-- /span -->    
      </div><!-- /row -->


      <div class="row-fluid">
        <div style="display: table;" id="photos">
        <% if(photos) {
        for(i in photos){ %>
        <a href="<%= photos[i].url %>" target="_blank" data-uri="https://partners.mongohq.com/app21251612-heroku-com/mongo/app21251612/collections/photos/documents/o:<%= photos[i]._id.toString()%>">
          <img class="img-polaroid" src="<%= photos[i].thumb %>">
        </a>

      <%}}%>
      </div>

      </div>


  </div> <!-- /container -->


  <!-- Scripts -->
  <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="wpxgq3771hkqh7l"></script>
  <script type="text/javascript" src="js/jquery.js"></script>
  <script src="//assets.transloadit.com/js/jquery.transloadit2-v2-latest.js"></script>
  <script>
  (function() {
      options = {

        // Required. Called when a user selects an item in the Chooser.
        success: function(files) {
            for(var i in files){
              console.log(files[i]);
              var input = document.createElement('input');
              $(input).attr('type', 'hidden');
              $(input).val(files[i].thumbnailLink);
              $(input).attr('name', 'url');
              $('#upload-form').append(input);

              var lnk = document.createElement('a');
              var img = document.createElement('img');
              $(img).addClass('img-polaroid');
              $(img).attr('src',files[i].thumbnailLink.replace('bounding_box=75', 'bounding_box=256'));

              $(lnk).attr('href', files[i].link);
              $(lnk).attr('target', '_blank');
              $(lnk).append(img);

              $('#photos').append(lnk);



            }
        },

        // Optional. Called when the user closes the dialog without selecting a file
        // and does not include any parameters.
        cancel: function() {

        },

        // Optional. "preview" (default) is a preview link to the document for sharing,
        // "direct" is an expiring link to download the contents of the file. For more
        // information about link types, see Link types below.
        linkType: "direct", // or "direct"

        // Optional. A value of false (default) limits selection to a single file, while
        // true enables multiple file selection.
        multiselect: true, // or true

        // Optional. This is a list of file extensions. If specified, the user will
        // only be able to select files with these extensions. You may also specify
        // file types, such as "video" or "images" in the list. For more information,
        // see File types below. By default, all extensions are allowed.
        extensions: ['.jpg', '.jpeg', '.png'],
    };

        var button = Dropbox.createChooseButton(options);
        document.getElementById("dropbox").appendChild(button);
   })();
  </script>

  <% if(writeSuccess) {%>
  <script>

  	setTimeout(function(){
  		$('#server_msg').html('');
  	}, 3000);

  	$('#server_msg').html(
  		[
  			"<span class='alert alert-success'>"
  		,	"Foto Salva!"
  		,	"</span>"

  		].join('')

  	);
	
  </script> 
  <% }else{ %> 

   <script>

    setTimeout(function(){
      $('#server_msg').html('');
    }, 3000);

    $('#server_msg').html(
      [
        "<span class='alert alert-danger'>"
      , "ERRO!"
      , "</span>"

      ].join('')

    );
  </script>
  <%} %> 

 
  </body>
</html>