<!DOCTYPE html>
<html>
  <head>
    <title>InstaGurizada</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Le styles -->
 <link href="css/bootstrap.css" rel="stylesheet">
 <link href="css/bootstrap-responsive.css" rel="stylesheet">
 <link href="css/main.less" rel="stylesheet/less">

</head>


<body id="main_body" >  
  <div class="container-fluid default-container">
    <div class="row-fluid"><div id="server_msg"></div></div>
    <div class="row-fluid">

          <div class="span12" id="content-handler">
          
        <!-- wraper for content flow -->  
       <form id="upload-form" class="form" action="/add" method="POST" enctype="multipart/form-data" autocomplete="off">
          <label for="title"><b>Título da Foto</b></label>
			    <input id="title" type="text" name="title" class="input-block-level" required /><br>  

          <label for="url"><b>Fotos</b></label>
          <input  id="url" type="file" name="url" class="input-block-level" required multiple /><br>  

          <label for="passowrd"><b>Senha</b></label>
          <input type="password" name="password" class="input-block-level" id="password" required /><br>
			   <input type="submit" class="btn btn-primary btn-large" value="Salvar">
		  </form>
      </div><!-- /span -->    
      </div><!-- /row -->


      <div class="row-fluid">
        <div style="display: table;">
        <% if(photos) {
        for(i in photos){ %>
        <a href="<%= photos[i].url %>" target="_blank" data-uri="https://partners.mongohq.com/app21251612-heroku-com/mongo/app21251612/collections/photos/documents/o:<%= photos[i]._id.toString()%>">
          <img class="img-polaroid" src="<%= photos[i].thumb %>">
        </a>

      <%}}%>
      </div>

      </div>


  </div> <!-- /container -->


  <!-- Scripts -->
  <script type="text/javascript" src="js/jquery.js"></script>
  <script src="//assets.transloadit.com/js/jquery.transloadit2-v2-latest.js"></script>
  <script>
  (function() {
     $('#upload-form').transloadit({
        wait: true,

        params: {
          auth: { key: "ee6be0607e1f11e39525d1d0fde72c8e" },
          steps: {
            resize_to_amazon: {
              robot: "/image/resize",
              use: ":original",
              width: 1200,
              height: 1200
            },

            resize_to_75: {
              robot: "/image/resize",
              use: ":original",
              width: 75,
              height: 75
            },

            store:{
                  robot: "/s3/store"
                , use: ['resize_to_amazon', 'resize_to_75']
                , bucket: "instagurizada"
                , key: "AKIAJW2JNEKWU7ZDNOYA"
                , secret: "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"
              },

          }
        }
     });
   })();
  </script>

  <% if(writeSuccess) {%>
  <script>

  	setTimeout(function(){
  		$('#server_msg').html('');
  	}, 3000);

  	$('#server_msg').html(
  		[
  			"<span class='alert alert-success'>"
  		,	"Foto Salva!"
  		,	"</span>"

  		].join('')

  	);
	
  </script> 
  <% }else{ %> 

   <script>

    setTimeout(function(){
      $('#server_msg').html('');
    }, 3000);

    $('#server_msg').html(
      [
        "<span class='alert alert-danger'>"
      , "ERRO!"
      , "</span>"

      ].join('')

    );
  </script>
  <%} %> 
  </body>
</html>