doctype html
html
	head
		title Eleiçoes Boletim W3haus 2014
		meta(charset="utf-8")  
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="css/bootstrap.css")
		style.
			body{
				padding: 20px;
			}	

	

body
	block content
	script(src="js/jquery.min.js")
	script(src="js/bootstrap.min.js")
	script(src="js/socket.io.min.js")
	script(src="js/main.js")