doctype html
html
	head
		title Eleiçoes Boletim W3haus 2014
		meta(charset="utf-8")  
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="css/main.css")

	

body
	block content
	script(src="components/jquery/dist/jquery.min.js")

	script(src="components/underscore/underscore.js")
	script(src="components/backbone/backbone.js")
	script(src="components/backbone.localStorage/backbone.localStorage.js")
	
	script(src="js/candidatos.js")
	script(src="js/teclas.js")
	script(src="js/voto.js")
	script(src="js/urna.js")
	
	script(src="js/main.js")